* {
  font-family: 'Courier New', Courier, monospace;
}

/* Hide scrollbar for webkit browsers */
::-webkit-scrollbar {
  display: none; /* For webkit browsers (Chrome, Safari, etc.) */
}

.btn-group{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-group__button {
  background-color: teal;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.btn-group__button:visited{
  background-color: beige;
  color: black;
}


.worker-counter{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
  width: 100%;
  position: relative;
}

.worker-counter__button{
  background-color: beige;
  color: teal;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  width: 36px;
  height: 36px;
}

.worker-counter__total{
  margin: 0 10px;
}

.tabs {
  display: flex;
  margin-bottom: 24px;
}

.tab{
  padding: 12px;
  cursor: pointer;
  width: 100px;
  min-width: 100px;
  border-bottom: 1px solid #ccc;
}

.tab.active{
  background-color: #eee;
  color: teal;
  font-weight: 600;
  border-bottom: 2px solid teal;
}
